[Unit]
Description=dockbeat
Documentation=https://github.com/ingensi/dockbeat
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/dockbeat -c /etc/dockbeat/dockbeat.yml
Restart=always

[Install]
WantedBy=multi-user.target
